<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/login_details/" method="post">
    {% csrf_token %}

<table align="center">
    <tr><th>login</th></tr>



        <td><input type="text" placeholder="Usename" name="username"></td></tr>
        <tr>
             <td><input type="password" placeholder="Password" name="password"></td>
        </tr>

      <tr>
           <th><input type="submit" value="Login"></th>
      </tr>

</table>
    </form>
<h3 align="center"><a href="/register/">Registration</a></h3>
</body>
</html>